services:
  ros_dev:
    build: .
    container_name: ros_pet_container
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - TERM=xterm-256color
      - DISABLE_ROS1_EOL_WARNINGS=1
    volumes:
      - ~/repos:/home/dev/repos
      - ./catkin_ws:/home/dev/catkin_ws
      - ~/bag:/home/dev/bags
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: tail -f /dev/null

  converter:
    image: ghcr.io/comrob/ros_bag_converter:latest
    build: .
    container_name: bag_converter_runner
    restart: "no"
    user: "${CURRENT_UID:-1000}:${CURRENT_GID:-1000}"
    working_dir: /data
    volumes:
      - ./convert.py:/home/dev/convert.py
      - ${HOST_DATA_DIR:-.}:/data
    command: python3 /home/dev/convert.py --help